.wrapper {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding-x);

  @media (min-width: 640px) {
    padding: 0 var(--padding-x-sm);
  }

  @media (min-width: 1024px) {
    padding: 0 var(--padding-x-lg);
  }
}

.inner {
  max-width: 56rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 3rem;
  max-width: 42rem;
}

.heading {
  margin-bottom: 0.75rem;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;

  @media (min-width: 640px) {
    font-size: 3rem;
    line-height: 1;
  }
}

.description {
  color: hsl(var(--muted-foreground));
  font-size: 1.125rem;
  line-height: 1.75rem;
}
